:host {
  dato-carousel {
    .carousel-item {
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .quick-search {
    width: 530px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    color: white;
    z-index: 2;
    .title {
      font-size: 50px;
    }
    .search-box {
      border-radius: 5px;
      input {
        border: none !important;
      }
    }
  }
  .content {
    margin: 0 10%;
  }

  .list-inline{
    text-align: center;
    ul{
      display: flex;
      justify-content: space-between;
      width: 1000px;
      margin: 0 auto;
    }
    li{
      display: inline-block;
      margin: 4%;

    }
    img{
      align: middle
    }
  }
  video {
    outline: none;
  }
}
