<ng-container *transloco="let t">
  <div class="carousel-container relative">
    <div class="d-flex-column quick-search absolute">
      <div class="title d-flex-column align-center">
        <div style="font-family: 'Pacifico', cursive">
          {{ t('rent-anything') }}
        </div>
        <div>{{ t('from-anyone') }}</div>
      </div>
      <div
        class="search-box d-flex align-center mt-10 primary-0-background-color"
      >
        <dato-icon
          class="primary-300-color mx-10"
          datoIcon="question-mark"
        ></dato-icon>
        <dato-input placeholder="what-would-you-like-to-rent"></dato-input>
        <dato-icon-button
          datoType="orange"
          datoIcon="search"
        ></dato-icon-button>
      </div>
    </div>
    <dato-carousel [config]="carouselConfig">
      <ng-container *ngFor="let item of carouselItems">
        <div
          class="carousel-item d-flex align-center dato-headline"
          [style.background-image]="
            'url(../../assets/images/carousel/' + item + '.jpg)'
          "
          *datoCarouselItem
        ></div>
      </ng-container>
    </dato-carousel>
  </div>
  <div class="content">
    <div class="d-flex-column"></div>
    <h1>Home!</h1>
    <h1>Home!</h1>
    <h1>Home!</h1>
  </div>
</ng-container>
