<ng-container *transloco="let t" >
  <div class="carousel-container relative">
    <div class="d-flex-column quick-search absolute">
      <div class="title d-flex-column align-center">
        <div style="font-family: 'Pacifico', cursive">
          {{ t('rent-anything') }}
        </div>
        <div>{{ t('from-anyone') }}</div>
      </div>
      <div
        class="search-box d-flex align-center mt-10 primary-0-background-color"
      >
        <dato-icon
          class="primary-300-color mx-10"
          datoIcon="question-mark"
          datoTooltip="home-search.help"
          datoTooltipPosition="top"
        ></dato-icon>
        <dato-input placeholder="home-search.what-would-you-like-to-rent"></dato-input>
        <dato-icon-button
          datoType="orange"
          datoIcon="search"
        ></dato-icon-button>
      </div>
    </div>
    <dato-carousel [config]="carouselConfig">
      <ng-container *ngFor="let item of carouselItems">
        <div
          class="carousel-item d-flex align-center dato-headline"
          [style.background-image]="
            'url(../../assets/images/carousel/' + item + '.jpg)'
          "
          *datoCarouselItem
        ></div>
      </ng-container>
    </dato-carousel>
  </div>
  <div class="content">
    <div class="d-flex align-center list-inline">
      <ul>
        <li>
          <img [src]="getIconImage('homepage-recycle')" align="middle">
          <h2>{{t('homepage-recycle')}}</h2>
          <p>
            {{t('homepage-recycle-description')}}
          </p>
          <video width="280" height="200" controls>
            <source src="../../../assets/videos/homepage/global-warming.mp4" type="video/mp4">
          </video>
        </li>
        <li>
          <img [src]="getIconImage('homepage-rewards')">
          <h2>{{t('homepage-rewards')}}</h2>
          <p>
            {{t('homepage-rewards-description')}}
          </p>
          <dato-link routerLink="/getting-started" fragment="what-are-rewards">{{t('learn-rewards')}}</dato-link>
        </li>
        <li>
          <img [src]="getIconImage('homepage-share')">
          <h2>{{t('homepage-share')}}</h2>
          <p>
            {{t('homepage-share-description')}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
