<content-loader
  [animate]="animate"
  [width]="1000"
  [height]="360"
  [speed]="speed"
  [preserveAspectRatio]="preserveAspectRatio"
  [primaryColor]="primaryColor"
  [secondaryColor]="secondaryColor"
  [primaryOpacity]="primaryOpacity"
  [uniqueKey]="uniqueKey"
>
  <svg:rect x="700" y="0" rx="3" ry="3" width="400" height="200" />
  <svg:rect x="700" y="210" rx="3" ry="3" width="400" height="150" />
  <svg:rect x="0" y="0" rx="3" ry="3" width="500" height="50" />
  <svg:rect x="0" y="80" rx="3" ry="3" width="500" height="20" />
  <svg:rect x="0" y="110" rx="3" ry="3" width="180" height="20" />
  <svg:rect x="0" y="140" rx="3" ry="3" width="400" height="20" />
  <svg:rect x="0" y="170" rx="3" ry="3" width="210" height="20" />
  <svg:rect x="0" y="200" rx="3" ry="3" width="90" height="20" />
</content-loader>
