:host {

  h4 {
    text-shadow: 1px 1px #DEDEDE;
  }

  display: block;
  height: 100%;
  overflow: auto;
  position: relative;
  .section {
    height: 98%;
  }
  .content-container {
    height: 450px;
    width: 450px;
    line-height: 2.4;
    .loader {
      $size: 100px;
      min-width: $size;
      max-width: $size;
      height: $size;
    }
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .list-inline{
    text-align: center;
    ul{
      display: flex;
      justify-content: space-between;
      width: 1000px;
      margin: 0 auto;
    }
    li{
      display: inline-block;
      margin: 4%;

    }
    img{
      align: middle
    }
  }
}
