* {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.user-menu {
  background-color: #fff;
  padding: 1rem;
  font-size: 14px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  dato-link {
    outline: none;
  }
}

.graph-tooltip {
  pointer-events: none;
  font-size: 11px;
  padding: 4px 8px 5px 8px;
  background-color: #4f5053;
  z-index: 2;
  border-radius: 4px;
  color: white;
  max-width: 400px;
}

.app-grid {
  height: calc(100% - 50px);
}

.yardrent-titles{
  font-family: 'Pacifico';
  font-size: 40px;
}
