:host {
  display: flex;
  justify-content: center;
  height: 100%;
  .toolbar {
    height: 45px;
    min-height: 45px;
    box-shadow: 0 2px 2px 0 #cbc8c8;
  }
  .container {
    width: 80%;
  }
  .list-header {
    min-height: 45px;
    height: 45px;
    min-width: 275px;
    z-index: 1;
    box-shadow: 0 2px 2px 0 #cbc8c8;
  }
  .list-container {
    min-width: 50%;
    max-width: 50%;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  .message {
    transition: background-color 0.2s ease-in-out;
    min-height: 40px;
    height: 40px;
    border-bottom: 1px solid lightgrey;
    &.selected {
      background-color: #c7e3fb;
    }
    &:hover {
      .date {
        display: none;
      }
      .actions {
        display: flex;
      }
    }
    .date {
      white-space: nowrap;
    }
    .action-container {
      transition: background-color 0.2s ease-in-out;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: white;
      }
    }
  }
}
