<content-loader [animate]="animate" [width]="260" [height]="280" [speed]="speed" [preserveAspectRatio]="preserveAspectRatio"
                [primaryColor]="primaryColor" [secondaryColor]="secondaryColor" [primaryOpacity]="primaryOpacity"
                [uniqueKey]="uniqueKey">
  <svg:rect x="0" y="0" rx="3" ry="3" width="260" height="150" />
  <svg:rect x="0" y="160" rx="3" ry="3" width="260" height="10" />
  <svg:rect x="20" y="180" rx="3" ry="3" width="230" height="10" />
  <svg:rect x="20" y="200" rx="3" ry="3" width="180" height="10" />
  <svg:rect x="0" y="220" rx="3" ry="3" width="260" height="10" />
  <svg:rect x="20" y="240" rx="3" ry="3" width="210" height="10" />
  <svg:rect x="20" y="260" rx="3" ry="3" width="90" height="10" />
</content-loader>
