<div class="d-flex-column d-flex-grow align-center" *transloco="let t" [formGroup]="userProfile">
  <div class="profile-image" [style.backgroundImage]="'url(' + user.image + ')'" *ngIf="user.image; else defaultImage"></div>
  <ng-template #defaultImage>
    <dato-icon
      height="120px"
      width="120px"
      class="primary-400-color mb-10"
      datoIcon="user"
    ></dato-icon>
  </ng-template>
  <div class="d-flex mb-10 align-center">
    <div class="dato-headline mr-10">{{ user.name }}</div>
    <dato-icon-button [routerLink]="'../edit-user/' + user._id" [queryParams]="{backTo: 'user/profile'}" datoIcon="edit"
                      datoType="none" datoTooltip="profile.edit"></dato-icon-button>
  </div>
  <div class="mb-10">{{t('profile.summary', {orders: user.orderId.length, products: user.product.length})}}</div>
  <span class="dato-sub-headline mb-10"
  >{{ t('you-have-rewards', {rewards: formatNumber(user.rewards)}) }}
    <dato-link routerLink="/getting-started" fragment="what-are-rewards">{{ t('get-more') }}</dato-link></span
  >
  <div class="d-flex-grow"></div>

  <dato-button (click)="logout()" datoType="secondary">{{
    t('logout')
    }}</dato-button>
</div>
