:host {
  $tab-header-y-padding: 5px;
  $tab-transition-interval: 0.3s;
  height: 100%;
  display: flex;
  ul {
    position: relative;
    display: flex;
    flex-shrink: 0;
    padding: 0;
    margin: 0 0 0 1px;
    overflow-x: hidden;
    list-style: none;
  }

  li {
    outline: none;
    flex: 1;
    cursor: pointer;
    text-align: center;
    padding: $tab-header-y-padding 0;
    border-left: 2px solid transparent;
    transition: $tab-transition-interval border;

    a {
      color: #67696f;
      transition: $tab-transition-interval color,
      $tab-transition-interval font-weight;
      text-decoration: none;
    }

    &:hover:not(.active) a {
      color: #00b7ff;
    }
  }

  .active {
    border-color: #00b7ff;
    background-color: white;
    box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.4);
    a {
      font-weight: 600;
      color: #00b7ff;
    }
  }
  > ul {
    flex-direction: column;
    flex-shrink: 0;
    box-shadow: inset -5px 5px 5px 0 rgba(0, 0, 0, 0.04);

    li {
      display: flex;
      flex: 0;
      min-width: 44px;
      min-height: 40px;
      padding: 2px 2px 0 0;

      a {
        display: flex;
        flex-grow: 1;
        margin: 0 6px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  > .tab-pointer {
    display: none;
  }
}
