<div
  class="d-flex-column align-center"
  *transloco="let t; read: 'messages-page.messages'"
>
  <div class="dato-headline">{{ t('product-returned') }}</div>
  <span class="order-details my-10">
    {{ t('rent-details', orderDetails) }}
    {{ t('rented-by', { name: renterName }) }}
  </span>
  <div>
    <marketplace-item-card
      *ngIf="product$ | async as product; else productLoader"
      readonly="true"
      [item]="product"
    ></marketplace-item-card>
    <ng-template #productLoader>
      <item-card-loader></item-card-loader>
    </ng-template>
  </div>
  <ng-container
    *ngIf="
      !loading && _message.linkedMessages.length === 0 && !_message.isApproved
    "
  >
    <div
      class="mb-10 text-center"
      [innerHTML]="t('return-product.claiming-return', { name: renterName })"
    ></div>
    <div class="actions d-flex align-center">
      <dato-button
        class="mr-10"
        datoType="secondary"
        (click)="applyAction(false)"
        >{{ t('decline') }}</dato-button
      >
      <dato-button (click)="applyAction(true)">{{ t('accept') }}</dato-button>
    </div>
  </ng-container>
  <span *ngIf="loading" class="dato-spinner-loader lg-loader"></span>
  <ng-container *ngIf="_message.linkedMessages.length > 0">
    <div class="width-100 d-flex align-end-center my-10">
      <div
        class="speech-bubble client accent-200-background-color p-7 pr-15 primary-600-color"
      >
        {{ t('decline') }}
      </div>
    </div>
    <div class="width-100 d-flex align-start-center my-10 dato-simple">
      <div
        class="speech-bubble primary-100-background-color p-7 pl-15 yard-rent-response primary-600-color"
        [innerHTML]="
          t('yarn-rent-intervene', { renter: _message.productRenter.name })
        "
      ></div>
    </div>
  </ng-container>
  <ng-container *ngIf="_message.isApproved">
    <div class="width-100 d-flex align-end-center my-10">
      <div
        class="d-flex speech-bubble client accent-200-background-color p-7 pr-15 primary-600-color"
      >
        <dato-icon
          class="mr-10"
          datoSize="md"
          datoIcon="checkmark-circle"
        ></dato-icon>
        {{ t('accept') }}
      </div>
    </div>
  </ng-container>
</div>
