<footer class="primary-100-background-color d-flex" *transloco="let t">
  <div class="align-start-center">
    <app-pollution-indicator></app-pollution-indicator>
  </div>
  <div class="d-flex d-flex-grow align-center p-10">
    <img class="logo mr-10" height="40" datoStaticSrc="/logo.png"/>
    <dato-link
      [datoTooltip]="t('visit-us', { name: 'Twitter' })"
      target="_blank"
      href="https://twitter.com/amiel_chen"
    >
      <dato-icon datoIcon="twitter"></dato-icon>
    </dato-link>
    <app-online-users>
    </app-online-users>
  </div>
  <div class="d-flex align-center mr-10">
    <dato-button datoType="secondary" (click)="scrollToTop()">{{
      t('scroll-to-top')
      }}</dato-button>
  </div>
</footer>
