<div
  class="d-flex-column align-center"
  *transloco="let t; read: 'messages-page.messages'"
>
  <div class="dato-headline">{{ t('reminder') }}</div>
  <div class="text-center my-10 dato-sub-headline">
    {{ t('title.' + _message.type) }}
  </div>
  <div class="d-flex">
    <marketplace-item-card
      *ngIf="product$ | async as product; else productLoader"
      readonly="true"
      [item]="product"
    ></marketplace-item-card>
    <ng-template #productLoader
      ><item-card-loader></item-card-loader
    ></ng-template>
  </div>
  <div class="order-details">
    {{ t('rent-details', orderDetails) }}
  </div>
</div>
