:host {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
  .d-flex-basis-40 {
    flex-basis: 40%;
  }
  .width-70 {
    width: 70%;
  }
  aside {
    flex-basis: 20%;
  }
  .image {
    height: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .title {
    border-bottom: 1px solid #ccced3;
  }
  .side-container {
    margin-left: 10%;
  }
  .height-30 {
    height: 30%;
  }
  .back-wing {
    transition: background-color .3s;
    left: 0;
    outline: none;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    ::ng-deep dato-icon {
      transition: color .3s;
    }
  }
  .min-height-70 {
    height: 70%;
    min-height: 70%;
  }
  .middle{
    margin-bottom: 400px;
  }
}
