:host {
  header {
    border-bottom: 1px solid #ccced3;
  }
  .toolbar {
    height: 120px;
    font-weight: 600;
  }

  .upper {
    height: 80px;
    border-bottom: 1px solid #ccced3;
  }
  .lower {
    height: 40px;
  }

  .cart {
    //position: relative;
    height: 40px;
    .items-count {
      font-size: 20px;
      top: 3px;
      left: 8px;
      &.single-digit {
        font-size: 20px;
        left: 13px;
      }
      &.triple-digit {
        font-size: 15px;
      }
    }
    .title {
      font-size: 16px;
    }
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .logo {
    border: none;
    outline: none;
  }

  ::ng-deep dato-button {
    &.link {
      margin: 0 20px;
      transition: border-bottom-color 0.4s ease-in-out;
      border-bottom: 2px solid transparent;
      div {
        transition: color 0.4s ease-in-out;
      }
    }
    &.active-page {
      div {
        color: #00b7ff;
      }
      border-color: #00b7ff;
    }
  }
}
