<header class="toolbar d-flex-column p-10" *transloco="let t">
  <div class="upper d-flex align-center">
    <img
      class="logo pointer"
      height="70"
      src="../../../assets/images/logo.png"
      routerLink=""
    />
    <div class="d-flex-grow"></div>
    <ng-container *ngIf="!(isLoggedIn$ | async); else loggedIn">
      <dato-button
        class="mr-10"
        datoType="secondary"
        (click)="openLoginDialog('login')"
        >{{ t('login') }}</dato-button
      >
      <dato-button class="mr-10" (click)="openLoginDialog('sign-up')">{{
        t('sign-up')
      }}</dato-button>
    </ng-container>
    <ng-template #loggedIn>
      <div class="profile mr-20 pointer"
           datoPopoverPlacement="bottom"
           datoPopoverClassName="user-menu"
           [datoPopoverContent]="userMenu">
        <dato-icon
          height="40px"
          width="40px"
          class="primary-400-color"
          datoIcon="user"
        ></dato-icon>
      </div>
      <ng-template #userMenu>
        <div class="d-flex-column">
          <div class="dato-sub-headline mb-10">
            {{ t('hello', { name: user.name }) }}
          </div>
          <div class="dato-simple-bold mb-10">
            {{ t('you-have-rewards', { rewards: user.rewards || 0 }) }}
          </div>
          <dato-link
            datoPopoverClose
            class="my-5"
            datoType="secondary"
            routerLink="user/my-products"
            >{{ t('my-products') }}</dato-link
          >
          <dato-link
            datoPopoverClose
            class="my-5"
            datoType="secondary"
            routerLink="user/my-orders"
            >{{ t('my-orders') }}</dato-link
          >
          <dato-link
            datoPopoverClose
            class="my-5"
            datoType="secondary"
            routerLink="user/profile"
            >{{ t('my-profile') }}</dato-link
          >
          <dato-button
            datoPopoverClose
            class="mt-10"
            datoType="secondary"
            (click)="logout()"
            >{{ t('logout') }}</dato-button
          >
        </div>
      </ng-template>
      <div
        class="cart d-flex align-center-end pointer mr-20"
        *datoSubscribe="itemsCount$ as itemsCount"
      >
        <div
          class="items-count absolute"
          [ngClass]="{
            'single-digit': itemsCount < 10,
            'triple-digit': itemsCount > 99
          }"
        >
          {{ itemsCount > 99 ? '99+' : itemsCount }}
        </div>
        <dato-icon
          height="40px"
          width="40px"
          class="orange-400-color"
          datoIcon="shopping-cart"
        ></dato-icon>
      </div>
    </ng-template>
    <dato-button class="mr-10" datoType="orange" (click)="addNewItem()"
      >+ {{ t('post-something') }}</dato-button
    >
  </div>
  <nav class="lower d-flex align-center">
    <dato-button
      class="link"
      datoType="none"
      routerLink="home"
      routerLinkActive="active-page"
    >
      <div>{{ t('home-page') }}</div>
    </dato-button>
    <dato-button
      class="link"
      datoType="none"
      [datoMenuTriggerFor]="gettingStarted"
    >
      <div class="mr-3">{{ t('getting-started') }}</div>
      <dato-icon width="10px" height="17px" datoIcon="arrow-down"></dato-icon>
    </dato-button>
    <dato-button
      class="link"
      datoType="none"
      routerLink="marketplace"
      routerLinkActive="active-page"
    >
      <div>{{ t('marketplace') }}</div>
    </dato-button>
    <dato-button
      class="link"
      datoType="none"
      routerLink="about"
      routerLinkActive="active-page"
    >
      <div>{{ t('about-us') }}</div>
    </dato-button>
    <dato-button
      class="link"
      datoType="none"
      routerLink="contact"
      routerLinkActive="active-page"
    >
      <div>{{ t('contact-us') }}</div>
    </dato-button>
    <dato-button
      class="link"
      datoType="none"
      routerLink="contact"
      routerLinkActive="active-page"
    >
      <div>{{ t('Genius') }}</div>
    </dato-button>
    <dato-button
      *hasRole="'admin'"
      class="link"
      datoType="none"
      routerLink="admin"
      routerLinkActive="active-page"
    >
      <div>{{ t('management') }}</div>
    </dato-button>
  </nav>

  <dato-menu #gettingStarted="datoMenu" placement="bottom-center">
    <ng-template datoMenuContent>
      <button datoMenuItem routerLink="">
        <div>{{ t('how-to-post') }}</div>
      </button>
      <button datoMenuItem routerLink="">
        <div>{{ t('how-to-rent') }}</div>
      </button>
      <button datoMenuItem routerLink="">
        <div>{{ t('what-are-rewards') }}</div>
      </button>
    </ng-template>
  </dato-menu>
</header>
