:host {
  header {
    border-bottom: 1px solid #ccced3;
  }
  .toolbar {
    height: 140px;
    font-weight: 600;
  }

  .upper {
    height: 80px;
    border-bottom: 1px solid #ccced3;
  }

  .cart {
    outline: none;
    height: 40px;
    .items-count {
      font-size: 20px;
      top: 3px;
      left: 8px;
      &.single-digit {
        font-size: 20px;
        left: 13px;
      }
      &.triple-digit {
        font-size: 15px;
      }
    }
    .title {
      font-size: 16px;
    }
  }

  .logo {
    border: none;
    outline: none;
  }
}
