:host {
  .founder-img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border:2px solid #fff;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
  }

  li {
    display: inline-block;
  }

  p {
    text-align: center;
  }


  .container {
    display: flex;
    justify-content: center;
  }
}
