:host {
  .founder {
    animation: 1s fadeIn;
  }

  .founder-img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 6px 5px #ccc;
    animation: 1s slideUp;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes slideUp {
    0% {
      top: 50px;
    }
    100% {
      top: 0;
    }
  }

}
