<ng-container *transloco="let t">
<div class="container d-flex-column width-100">
  <img src="../../../assets/images/contact/contact-us-banner.jpg">
  <div class="centered">
    <h1 class="yardrent-titles">{{t('contact-us')}}</h1>
      {{t('contact-us-description')}}
  </div>
</div>

<ul>
  <li>
    <h3><b>1-800-70-70-70</b></h3>
    Sunday - Friday<br>
    8:00AM - 6:00PM
  </li>
  <li>
    <h3><b>{{t('office')}}</b></h3>
    Shderot Hadokrim 7, Rishon Letzion<br>
    Israel<br>
    054-3978955
  </li>
  <li>
    <h3><b>{{t('corporate-office')}}</b></h3>
    Hatam Sofer 13, Tel-Aviv<br>
    Israel<br>
    054-3978955
  </li>
</ul>
</ng-container>
