:host {
  padding: 10px;
  display: flex;
  .content {
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    height: 485px;
    &.login {
      height: 222px;
      .address,
      .re-type,
      .full-name {
        display: none;
      }
    }
  }
}
