<ng-container>
  <dato-icon class="mr-15 pointer" datoIcon="dev"
             height="37px"
             width="37px"
             datoTooltip="Developer options"
             datoTooltipPosition="left"
             datoPopoverClassName="shared"
             datoPopoverPlacement="bottom"
             [datoPopoverContent]="devMenu"
  ></dato-icon>
  <ng-template #devMenu>
    <div class="d-flex-column">
      <dato-link (click)="releaseRented()" datoType="secondary">Release rented items</dato-link>
      <dato-link (click)="releaseDeleted()" datoType="secondary">Release deleted items</dato-link>
    </div>
  </ng-template>
</ng-container>
