<div class="d-flex-column align-center container p-10" *transloco="let t">
  <div
    class="image-container width-100 mb-10"
    [style.background-image]="'url(' + item.image + ')'"
  ></div>
  <div
    class="dato-sub-headline ellipsis mb-10"
    [datoTooltip]="item.name"
    datoTooltipPosition="bottom"
    datoTooltipOnTextOverflow="true"
  >
    {{ item.name }}
  </div>
  <div class="d-flex align-center width-100 mb-10">
    <div class="dato-simple nowrap">{{ t('posted-by') }}&nbsp;</div>
    <span
      class="ellipsis"
      [datoTooltip]="item.user.name"
      datoTooltipPosition="bottom"
      datoTooltipOnTextOverflow="true"
      >{{ item.user.name }}</span
    >
  </div>
  <div class="d-flex align-space-between-center mb-10">
    <div class="d-flex mr-20">
      <dato-icon [datoIcon]="item.category.name"></dato-icon>
      <div class="capitalize-first">{{ item.category.name }}</div>
    </div>
    <div class="d-flex">
      <dato-icon [datoIcon]="item.subCategory.name"></dato-icon>
      <div class="capitalize-first">{{ item.subCategory.name }}</div>
    </div>
  </div>
  <div class="dato-simple mb-10">
    {{ t('rewards-needed', { rewards: formatNumber(item.rewards) }) }}
  </div>
  <div class="d-flex align-space-between-center">
    <dato-button
      tabindex="-1"
      [routerLink]="'../' + item._id"
      datoType="none"
      >{{ t('view-item') }}</dato-button
    >
    <marketplace-item-cart-toggler [product]="item"></marketplace-item-cart-toggler>
  </div>
</div>
