:host {
  margin-bottom: 20px;
  &[readonly] {
    .container {
      border: none;
    }
    .actions {
      display: none;
    }
  }
  .container {
    width: 280px;
    border: 2px solid #f1f2f5;
    transition: border 0.3s;
    &:hover {
      border-color: #09a0ff;
    }
    &.rented {
      .image-container {
        filter: grayscale(1);
      }
    }
  }
  .rented-note {
    top: 50px;
  }
  .image-container {
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
