<div
  class="relative d-flex-column align-center container p-10"
  [ngClass]="{ 'rented primary-200-color': item.isRented }"
  *transloco="let t"
>
  <div
    class="image-container width-100 mb-10"
    [style.background-image]="'url(' + item.image + ')'"
  ></div>
  <div
    *ngIf="item.isRented"
    class="rented-note absolute orange-400-color dato-headline no-select"
  >
    {{ t('item-rented') }}
  </div>
  <div
    class="dato-sub-headline ellipsis mb-10"
    [datoTooltip]="item.name"
    datoTooltipPosition="bottom"
    datoTooltipOnTextOverflow="true"
  >
    {{ item.name }}
  </div>
  <div class="d-flex align-center width-100 mb-10">
    <div class="dato-simple nowrap">{{ t('posted-by') }}&nbsp;</div>
    <span
      class="ellipsis"
      [datoTooltip]="item.user.name"
      datoTooltipPosition="bottom"
      datoTooltipOnTextOverflow="true"
      >{{ item.user.name }}</span
    >
  </div>
  <div class="d-flex align-space-between-center width-100 mb-10">
    <div class="d-flex width-50">
      <dato-icon
        class="mr-5"
        [datoIcon]="formatToKebab(item.category.name)"
      ></dato-icon>
      <div
        class="capitalize-first ellipsis"
        [datoTooltip]="item.category.name"
        datoTooltipOnTextOverflow="true"
      >
        {{ item.category.name }}
      </div>
    </div>
    <div class="d-flex width-50">
      <dato-icon
        class="mr-5"
        [datoIcon]="formatToKebab(item.subCategory.name)"
      ></dato-icon>
      <div
        class="capitalize-first ellipsis"
        [datoTooltip]="item.subCategory.name"
        datoTooltipOnTextOverflow="true"
      >
        {{ item.subCategory.name }}
      </div>
    </div>
  </div>
  <div class="dato-simple mb-10">
    {{ t('rewards-needed', { rewards: formatNumber(item.rewards) }) }}
  </div>
  <div class="actions d-flex align-space-between-center">
    <dato-button
      [disabled]="item.isRented"
      tabindex="-1"
      [routerLink]="['/marketplace', item._id]"
      datoType="none"
      >{{ t('view-item') }}</dato-button
    >
    <marketplace-item-cart-toggler
      [product]="item"
    ></marketplace-item-cart-toggler>
    <app-favorite [productId]="item._id"></app-favorite>
  </div>
</div>
