<ng-container *transloco="let t; read: 'watchlist-page'">
  <div class="yardrent-titles d-flex align-center m-20">{{t('title')}}</div>
<dato-infinite-scroll class="d-flex align-space-around-center d-flex-wrap mt-20 overflow-auto" [datoInfiniteScrollOffset]="400" (datoInfiniteScroll)="loadMore()">
  <ng-container *ngIf="!loading; else loaders">
    <ng-container *ngIf="items.length; else noData">
      <marketplace-item-card *ngFor="let item of items" [item]="item"></marketplace-item-card>
    </ng-container>
    <ng-template #noData>
      <div class="d-flex-column mt-20 align-center">
        <div class="dato-sub-headline">{{t('no-items-title')}}</div>
        <div class="d-flex align-center dato-sub-simple">{{t('no-items-subtitle-1')}}&nbsp;<dato-link routerLink="/marketplace">{{'marketplace' | transloco}}</dato-link>&nbsp;{{t('no-items-subtitle-2')}}</div>
        <dato-icon class="mt-20" datoIcon="box" height="200px" width="200px"></dato-icon>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loaders>
    <item-card-loader *ngFor="let i of loadersCount"></item-card-loader>
  </ng-template>
</dato-infinite-scroll>
</ng-container>
